/* src/components/Sidebar.css */
.sidebar {
    width: 130px;
    padding: 20px;
    background-color: #b8b8b8;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 10px;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #000000;
  }
  
  .learn-more img {
    width: 100%;
  }
  